<div class="container-fluid bg-secondary ps-5 pe-0 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center">
                <a class="text-body py-2 pe-3 border-end" href="yuvavedi/index.html"><small></small></a>
            </div>
        </div>
        <div class="col-md-6 text-center text-lg-end">
            <div class="position-relative d-inline-flex align-items-center bg-primary text-white top-shape px-5">
                <div class="me-3 pe-3 border-end py-2">
                    <p class="m-0"><i class="fa fa-envelope-open me-2"></i>pushpakayanam2025@gmail.com</p>
                </div>
                <div class="py-2">
                    <p class="m-0"><i class="fa fa-phone-alt me-2"></i>+91 99610 11199</p>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-4 py-3 py-lg-0">
    <img src="/img/logo.png" class="responsive-logo" onClick='goto("/index.html")'>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0 me-n3">

            <a href="/index.html" class="nav-item nav-link item">Home</a>

            <a href="/main/content/program.html" class="nav-item nav-link">Programs</a>

            <!-- <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Announcements</a>
                <div class="dropdown-menu m-0">
                    <a href="/main/content/announcements/walkathon.html" class="dropdown-item">Walkathon</a>
                    <a href="/main/content/announcements/logo.html" class="dropdown-item">ലോഗോ പ്രകാശനം</a>
                    <a href="/main/content//announcements/vishu-contest.html" class="dropdown-item">വിഷു ഫോട്ടോഗ്രാഫി
                        മത്സരം</a>
                    <a href="/main/content/announcements/reels-contest.html" class="dropdown-item">റീൽസ് മത്സരം</a>
                    <a href="/main/content/announcements/orgcom.html" class="dropdown-item">സ്വാഗതസംഘ രൂപീകരണം</a>
                    <a href="/main/content/announcements/naming-contest.html" class="dropdown-item">നാമനിർദ്ദേശ
                        മത്സരം</a>
                </div>
            </div> -->

            <a href="/main/content/announcements.html" class="nav-item nav-link">Announcements</a>

            <a href="/main/content/location.html" class="nav-item nav-link">Venue</a>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Gallery</a>
                <div class="dropdown-menu m-0">
                    <a href="/main/gallery/orgcom.html" class="dropdown-item">സ്വാഗതസംഘം രൂപീകരണം</a>
                </div>
            </div>


            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Downloads</a>
                <div class="dropdown-menu m-0">
                    <a href="https://drive.google.com/uc?export=download&id=1SFdMyNgFRC-LMZCyVmgZmPXzJhpllN8j"
                        download="Logo" class="dropdown-item">Logo</a>
                    <!-- <a href="https://drive.google.com/uc?export=download&id=1-RW6G3MuugCKI0sFgkoD-BP49PXnmCxK" download="Logo with description" class="dropdown-item">Logo with description</a>
                    <a href="https://drive.google.com/uc?export=download&id=19RFv4dRF0Tq4aXHS7MKvn-uFKHTW_0L_" download="Logo with dates" class="dropdown-item">Logo with dates</a> -->
                </div>
            </div>

        </div>
    </div>
</nav>


<div id="visitCounter" class="position-fixed">
    <div class="visit-circle d-flex flex-column justify-content-center align-items-center shadow">
        <span id="visitCount">0000</span>
        <small class="visit-label text-muted">visits</small>
    </div>
</div>

<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>